*{
    margin:0px;
    padding:0px;
}
body {
    margin:auto;
     padding: 0;
     height:auto;
    }
#top{
    color:rgb(78, 75, 75);
    text-align-last:center;
    font-size:30.5px;
    font-weight:15px;
    text-decoration:underline;
    margin-top:25px;
    margin-inline:0px;
    margin-left:30.5%;
}
#top1{
    color:black;
    text-decoration:none;
    text-align-last:end;
    margin-top:7%;
    font-size:20px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-display:initial;
    margin-left:35.9%;
    
}
#hr{
    display:flex;
    width:100%;
    background-color:darkorange; 
   height:80px;
    
}

#img{
    display:inline-flex;
    width:151px;
    height:100px;
    text-justify:none;
    margin-top:10px ;
    margin-left: 10px;
}
#navbar {
    display:block;
    flex-direction:initial;
    background-color:darkorange; 
    width:101.3%;
    height:50px;
    overflow:initial;    
    font-family: 'Ubuntu Mono', monospace;
    margin: -17.6px;;
    margin-top:none;
    margin-right: 99%;

    border-radius:initial;
}
.nacontent{
    display:flex;
    justify-content: center;
}
ul  li{
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}
ul  li   a{
    padding: 3px;
    color:chartreuse;
    font-size:100%;
    font-weight:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-style:oblique;
    text-decoration:none;
    border-radius:15px;
}
ul  li  a:hover{
    background-color:rgb(248, 241, 241);
    border-radius: 20px;
}
.mainn {
    display:flex;
	width: 100%;
    block-size:100% ; 
    justify-content:center;
	height:100%;
    margin-top:none;
   margin:-1px ;
	overflow:hidden;
	border-width:initial rgb(8, 8, 8);
    background-color:dimgrey;
    
}
.maindiv{
   display:flex;
 justify-content:center;
 height:100%;
}
 p{
    display:block;
    color:rgb(8, 8, 8);
    text-decoration:underline;
    border-radius:40px;
    font-size:20px ;
    text-align-last:center;
   margin-top:12px;
   justify-content:center;
   margin-right:50px;

}
.mainimg img{
    display:flex;
    width:100%;
    height:40%;
    background-image:inherit;

    margin: none;
    margin-top:-15.5px;
}
#text{
   
    display:contents;
    color:aliceblue;
    font-size:25px;
    font-weight:10px;
    text-align-last:left;
    margin:none;
   margin-right:70.5% ;
    margin-top:15px;
    justify-content:right;
}
#ice
{
    color:rgb(184, 231, 75);
    text-align-last:center;
    font-size:50px;
    font-weight:15px;
    text-decoration:underline;
    margin-top:none;
  
  
}
.log{
    display:grid;
    justify-content:center; 
    width:80px;  
    color:rgb(243, 215, 92);
    font-size:30px;
    font-style:normal;
    height:50px;
    margin-top:10px;
    margin:auto;
    padding: 50px;
    border:0 #ffffff;
   
}
.log input{
    font-size:20px;
 height:50px;
    color:black;
    font-style:oblique;
 border-bottom:rgb(230, 231, 148);
 padding: 5px 10px;
 background-image:radial-gradient(120deg, rgb(250, 233, 160) 30%,rgb(226, 170, 67)100%);
 margin-top: auto;
 
}
.log button{
   
    width:250px;  
    height:50px;
    font-size:25px;
    font-weight: 400;
    font-style:italic;
    color: rgb(158, 190, 38);
    margin-left: 5px;
    background-image: linear-gradient(120deg, rgb(250, 233, 160) 30%,rgb(226, 170, 67)100%);
    margin-top:25px;
    margin: 10%;
   border: 0cm;
   border-radius: 20px;
   text-decoration:none;

}
.log button:hover{
    cursor:pointer;
    background-color:white ;
}
#logimg{
    display:flex; 
    height:40px;
   
    margin-top:0px;
    margin-left: 10px;
    margin:100px;
    
}
.pord{
    display:block;
    flex-direction:initial;
    
 margin: 4%;
 margin-top:10px;
 padding:10px;
    justify-content:space-between; 
    margin-left:30%;
    margin-right:auto;
}
.imgice{
  display:flex;   
  color:#ccc;
  

    height:40%; 
    background-color:white;
  
   border-radius: 20px;
    margin-top: 69px;

}
.imgice img{
    display:flex;
   padding: 30%; 
   margin-left:200%;
 margin:10%;
 margin-top: 10px;
 position:absolute;
}

.price{
    display:block;
    background-color: rgb(240, 182, 112);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:5px;
     margin: 5px;
    position:static;
    font-size:20px;
    margin-top: 5px;
    margin-right:50%;
    border-radius: 20px; 
    width:150px;

 }
.ice-name,.price-ic{
    margin:5px;
    font-size:20px;
    margin-left: 15px;
 padding: 1px;
}
.price button {
    width:100px;  
    height:40px;
    font-size:15px;
    font-weight:200;
 
    color: rgb(233, 241, 233);  
    background-color:rgb(35, 172, 35) ;
    margin-left: 15px;
   
    margin-top:10px;
   border: 0cm;
   border-radius: 20px;   
    cursor:pointer;
}
.price button:hover{
    background-color:white ;
    color: rgb(83, 224, 83);
    font-weight:700 ;
    border: 1px solid rgb(3, 173, 3);
}
footer {
    display:flex;
    text-align-last:center;  
	width: 100%;
	height: 50px;
	background:rgb(255, 155, 33);
	color: white;
	font-size: 25px;
    margin-top:none;
	padding: none;
}
#tx{
    margin-top: 10px;
}
#mig{
    display:grid;
    width: 300%;
    height:60%;
 margin-left:3.5%;
  padding: 0px;

}
#s{
    display:flex;
 float: left;
    width:20px;
    height:20px;
    margin: 1px;
    margin-top: 30px;
   margin-right:35% ;
    
}
#t{
    display: flex;
    font-size: 20px;
    font-style: oblique;
    font-weight: 600;
    text-decoration:underline;
    text-align:left;
    
 margin-left: 25%;

}
.sh{
     display:flex ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.containar{
    display: flex;
    margin:5px;
}
#ci{
    display:inline-flex;
    padding:-1px;
   margin-left: -80px;
}
.container  h3{
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-top: 10px;
}
.cart{
    display:block;
}
.products{
    box-sizing:1.75;
}
.product{
    display:flex;
    width:100%;
    height: 200px;
    overflow: hidden;
    float:right;
   margin-bottom: 20px;
}
.product:hover{

    border: none;
    box-shadow: 2px 2px 4px rgb(0, 0, 0.2);
   
}
.pi{
 margin-left:40%;
 float:left;
  padding:15px;

}


.product  img{
  
 padding: 9px;
 width: 10px;
    border-radius: 5px;
  margin: 70px;

}
.product-info{
 display:block;
    padding: 5px;
    width:24%;
    height: auto;
   margin: -10px;
 background-color: burlywood;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size:20px;
 text-overflow: initial;
 border: 10px;
 margin-left:0% ;

    position:relative;
}
.product-name,.product-price{
   margin: 10%;
 margin-bottom:10px;
 padding: 1px;
 
}
.product-countenue{
    position:absolute;
    background-color:white ;
    bottom: 35px;
 color :rgb(68, 63, 63);
    cursor:pointer;
 padding:-40px;
 left:30px;
 top:-300px;

    border-radius:30px;
}
.product-countenue:hover{
    
    color: rgb(25, 31, 29);
    font-weight:300 ;
    border: 1px solid rgb(12, 15, 15);
}
.product-add{
    position:absolute;
    bottom: 35px;
    padding: 10px 40px;
    background-color: rgb(70, 194, 146);
    color: white;
    cursor:pointer;
 left:250px;
    border-radius:30px;
}
.product-add:hover{
    background-color:white ;
    color: rgb(16, 173, 139);
    font-weight:300 ;
    border: 1px solid rgb(5, 156, 131);
}
.product-remove{
    position:absolute;
    bottom: 35px;
    padding: 10px 25px;
    background-color: tomato;
    color: white;
    left:60px;
    cursor:pointer;
    border-radius:90px;
}
.product-remove:hover{
    background-color:white ;
    color: tomato;
    font-weight:300 ;
    border: 1px solid tomato;
}
.product-confirmrequest{
   
    position:relative;
    bottom: 35px;
    padding: 10px 25px;
    background-color:greenyellow;
    color: rgb(24, 168, 84);
    left:70px;
  width:150px;
   
    cursor:pointer;
    border-radius:90px;
}
.product-confirmrequest:hover{
    background-color:white ;
    color: rgb(25, 223, 58);
    font-weight:300 ;
    border: 1px solid rgb(29, 206, 53);
}
.product-invoice{
    position:absolute;
    
    bottom: 35px;
 color :rgb(22, 20, 20);
    
 left:90%;
    border-radius:50px;
}
.Delivery-optionse{
    position:absolute;
    bottom: 35px;
    padding: 10px 25px;
    background-color: tomato;
    color: white;
    left:60px;
    top:-90px;
    cursor:pointer;
    border-radius:90px;
}
.Delivery-optionse:hover{
    color: rgb(25, 31, 29);
    font-weight:300 ;
    border: 1px solid rgb(12, 15, 15);
}
.product-quantity  input{
    width: 40px;
    padding: 5px;
    
}
.fa{
    margin: 1px;
    margin-right: 2px;
}
.errore{
    display: block;
    background: white;
    color:rgb(248, 78, 66);
    padding: 10px;
    width: 95%;
    border-radius:5px ;
    margin: 20px auto;
}
#name{
   
    color:black;
    text-decoration:none;
    text-align-last:auto;
    margin-top:30px;
    font-size:25.5px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-display:inherit;
    margin-left:8px;
    float:right;
    font-weight:20px;
    margin-right:-1100px;
}
.pagc{
    background-image: url(pexels-lukas-1352299.jpg);
    background-attachment :initial;
    background-size:cover ;
    background-repeat: none;
     
    
}
.tabel  {
    
    display:contents;
    font-size:30.5px;
    font-weight:3px;
    color:rgb(247, 155, 42);
    margin-top: auto;
    margin-left: 75%;;
   color: coral;
 margin: auto;
 width:100%;
 
}

.content{
    display:flex;
    justify-content: center;
}
.content ul  li{
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}
.content ul  li   a{
    padding: 3px;
    color:coral;
    font-size:100%;
    font-weight:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:oblique;
    text-decoration:none;
    border-radius:15px;
}
.content ul  li  a:hover{
    background-color:rgb(248, 241, 241);
    border-radius: 20px;
}